.db-align-vertical-center {
  display: flex;
  align-items: center;
}
.db-align-vertical-end {
  display: flex;
  align-items: flex-end;
}
.db-align-horizontal-end {
  display: flex;
  justify-content: flex-end;
}
.db-align-horizontal-center {
  display: flex;
  justify-content: center;
}
.db-flex-column {
  display: flex;
	flex-direction: column;
  // border: 1px solid red;
}
.db-flex-row {
  display: flex;
	flex-direction: row;
  // border: 1px solid blue;
}
.db-flex-item {
  flex: auto;
  // border: 1px solid #ccc;
}
.db-flex-item-1 {
  flex: 1;
}
.db-flex-item-2 {
  flex: 2;
}
.db-flex-item-3 {
  flex: 3;
}
.db-flex-static {
  flex-grow: 0;
  flex-shrink: 0;
}
.db-flex-item-fws {
  flex: 0 0 30px;
}
.db-flex-item-fwm {
  flex: 0 0 60px;
}
.db-flex-item-fwl {
  flex: 0 0 90px;
}
.db-flex-item-fhs {
  flex: 0 0 25px;
}
.db-flex-item-fhm {
  flex: 0 0 50px;
}
.db-flex-item-fhl {
  flex: 0 0 75px;
}
