// NORMALIZE
@import "bower_components/normalize-scss/sass/normalize/normalize-mixin";
@import "bower_components/normalize-scss/sass/normalize/variables";
@import "bower_components/normalize-scss/sass/normalize/vertical-rhythm";
@include normalize();
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

// VARIABLES
$fill-in-color: #ccc;
$dont-fill-in-bg: #f6f6f6;



// MIXINS
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// BASICS
body {
  background: #ccc;
}
.db-page {
  background: #fff;
  border: 1px solid #666;
  margin: 20px;
  @include aspect-ratio(1.414, 1);
  font-family: sans-serif;
  font-size: 12px;
}
.db-score-sheet {
  height: 96%; // Fill available space
  border: 1px solid red;
}
.db-right-text {
  text-align: right;
}
.db-center-text {
  text-align: center;
}
// PADDING
.db-padding-horizontal {
  margin: 0 10px 0 10px;
}
.db-margins-m {
  margin: 0px 10px 10px 10px;
}
.db-header {
  margin-bottom: 30px;
}
// MISC
.db-page-type {
  position: absolute;
  bottom: -40px;
  right: 0;
}

.db-align-vertical-center {
  display: flex;
  align-items: center;
}
.db-align-vertical-end {
  display: flex;
  align-items: flex-end;
}
.db-align-horizontal-end {
  display: flex;
  justify-content: flex-end;
}
.db-align-horizontal-center {
  display: flex;
  justify-content: center;
}

// DECORATION
.db-fill-in {
  border-bottom: 3px solid $fill-in-color;
}
.db-bordered {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.db-dont-fill-in {
  background: $dont-fill-in-bg;
}
// FLEXING
.db-flex-column {
  display: flex;
	flex-direction: column;
  // border: 1px solid red;
}
.db-flex-row {
  display: flex;
	flex-direction: row;
  // border: 1px solid blue;
}
.db-flex-item {
  flex: auto;
  // border: 1px solid #ccc;
}
.db-flex-item-1 {
  flex: 1;
}
.db-flex-item-2 {
  flex: 2;
}
.db-flex-item-3 {
  flex: 3;
}
.db-flex-static {
  flex-grow: 0;
  flex-shrink: 0;
}
.db-flex-item-fws {
  flex: 0 0 30px;
}
.db-flex-item-fwm {
  flex: 0 0 60px;
}
.db-flex-item-fwl {
  flex: 0 0 90px;
}
.db-flex-item-fhs {
  flex: 0 0 25px;
}
.db-flex-item-fhm {
  flex: 0 0 50px;
}
.db-flex-item-fhl {
  flex: 0 0 75px;
}

// PRINT
@media print {
  body, html {
    margin: 0;
    padding: 0;
  }
  .db-page { // Hide the pseudo page
    border: none;
    background: none;
    margin: 0;
  }
  .db-hide {
    display: none;
  }
}
