<section class="db-score-sheet db-flex-column">

  {% include sheet-header.html %}

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        Your Name:
      </div>
      <div class="db-flex-item db-fill-in">
      </div>
    </div>

    <div class="db-item-gutter"></div>

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row" v-if="!isBP">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text ">
        You Are:
      </div>
      <div class="db-flex-item db-flex-row">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item-1 db-center-text db-vertical-center-text">
          <span class="db-fill-in">The Chair</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item-1 db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Panellist</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item-1 db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Trainee</span>
        </div>
      </div>
    </div>
    <div class="db-padding-horizontal db-flex-item-1 db-flex-row" v-if="isBP">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        Your Panellists:
      </div>
      <div class="db-flex-item db-fill-in">
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1" v-if="hasMotionSelection">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        The Motion:
      </div>
      <div class="db-flex-item db-fill-in">
      </div>
    </div>

    <div class="db-item-gutter"></div>

    <div class="db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item-1 db-flex-row">
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="">Aff Veto:</span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">1<sup>st</sup></span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">2<sup>nd</sup></span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">3<sup>3rd</sup></span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="">Neg Veto:</span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">1<sup>st</sup></span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">2<sup>nd</sup></span>
        </div>
        <div class="db-align-vertical-center db-text-center db-align-horizontal-center db-flex-item-1 db-left-text db-vertical-center-text">
          <span class="db-fill-in">3<sup>3rd</sup></span>
        </div>
      </div>
    </div>

  </section>

  <section class="db-flex-row db-flex-item-7">

    <div class="db-flex-column db-margins-m db-bordered db-flex-item-half">
      <db-team-sheet :n=0 :is-bp=isBP :show-pronouns=showPronouns :has-replies=hasReplies :speakers-count=speakersCount></db-team-sheet>
    </div>
    <div class="db-flex-column db-margins-m db-bordered db-flex-item-half">
      <db-team-sheet :n=1 :is-bp=isBP :show-pronouns=showPronouns :has-replies=hasReplies :speakers-count=speakersCount></db-team-sheet>
    </div>
  </section>

  <section class="db-flex-row db-flex-item-7" v-if="isBP">
    <div class="db-flex-column db-margins-m db-bordered db-flex-item-half">
      <db-team-sheet :n=2 :is-bp=isBP :show-pronouns=showPronouns :has-replies=hasReplies :speakers-count=speakersCount></db-team-sheet>
    </div>
    <div class="db-flex-column db-margins-m db-bordered db-flex-item-half">
      <db-team-sheet :n=3 :is-bp=isBP :show-pronouns=showPronouns :has-replies=hasReplies :speakers-count=speakersCount></db-team-sheet>
    </div>
  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1 db-flex-item-1" v-if="!isBP">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row"><!-- Aff holder -->
      <div class="db-flex-item db-align-vertical-center db-flex-static db-vertical-center-text">
        Which team won the debate?
      </div>
      <div class="db-flex-item db-fill-in">
      </div>
    </div>

    <div class="db-item-gutter"></div>

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row"><!-- Aff holder -->
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        By how many points did they win?
      </div>
      <div class="db-flex-item db-fill-in">
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1 db-flex-item-1" v-if="showInfo">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row"><!-- Aff holder -->
      <div class="db-flex-item db-align-vertical-center db-flex-static db-vertical-center-text">
        <em>[[ infoText ]]</em>
      </div>
    </div>

  </section>


  {% include sheet-footer.html %}

</section>
