<section class="db-score-sheet db-flex-item db-flex-column">

  {% include sheet-header.html %}

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-padding-horizontal db-flex-item db-flex-static db-vertical-center-text">
        This feedback is for:
      </div>
      <div class="db-flex-item db-flex-row">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">The Chair</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Panellist</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Trainee</span>
        </div>
      </div>
    </div>

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        Their Name:
      </div>
      <div class="db-flex-item db-fill-in ">
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-padding-horizontal db-flex-item db-flex-static db-vertical-center-text">
        You were:
      </div>
      <div class="db-flex-item db-flex-row">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Team</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">The Chair</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Panellist</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">A Trainee</span>
        </div>
      </div>
    </div>

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        Your Name:
      </div>
      <div class="db-flex-item db-fill-in ">
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-padding-horizontal db-flex-item db-flex-static db-vertical-center-text">
        Did you agree with their decision:
      </div>
      <div class="db-flex-item db-flex-row">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">Yes</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">Unsure</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">No</span>
        </div>
      </div>
    </div>

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        <span v-if="!isBP">If you were a team, you:</span>
        <span v-if="isBP">If you were a team, you placed:</span>
      </div>
      <div class="db-flex-item db-flex-row" v-if="!isBP">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">Won</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">Lost</span>
        </div>
      </div>
      <div class="db-flex-item db-flex-row" v-if="isBP">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">1<sup>st</sup></span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">2<sup>nd</sup></span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">3<sup>rd</sup></span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">4<sup>th</sup></span>
        </div>
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        <div class="db-padding-horizontal">This adjudicator should be:</div>
      </div>
      <div class="db-flex-item db-flex-row">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">a trainee</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">a panellist</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">a chair</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">an outrounds judge</span>
        </div>
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">a grand final judge</span>
        </div>
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-1" v-if="showFeedbackKeyWords">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-row">
      <div class="db-align-vertical-center db-flex-item db-flex-static db-vertical-center-text">
        <div class="db-padding-horizontal">This adjudicator was:</span></div>
      </div>
      <div class="db-flex-item db-flex-row" v-for="keyword in feedbackKeywordsSplit">
        <div class="db-align-horizontal-center db-align-vertical-center db-flex-item db-center-text db-vertical-center-text">
          <span class="db-fill-in">[[ keyword.trim() ]]</span>
        </div>
      </div>
    </div>

  </section>

  <section class="db-margins-m db-bordered db-flex-row db-flex-item-20">

    <div class="db-padding-horizontal db-flex-item-1 db-flex-column">
      <div class="db-padding-horizontal db-flex-item db-flex-item-fhm db-align-vertical-center">
        Any comments about this adjudicator?
      </div>
      <div class="db-padding-horizontal db-flex-item db-ruled-bg"></div>

    </div>

  </section>

  {% include sheet-footer.html %}

</section>
