<script src="/vendor/vue.min.js"></script>
{% include db-team-sheet.vue %}
<script>

  {% include css_browser_selector.js %}

  function getLocalStorage(keyToCheck, defaultValue) {
    if (localStorage) {
      var cachedValue = JSON.parse( localStorage.getItem(keyToCheck) );
      if (cachedValue !== null) {
        console.log(keyToCheck, cachedValue);
        return cachedValue;
      }
    }
    return defaultValue;
  }
  function setLocalStorage(keyToSet, setValue) {
    if (localStorage) {
      localStorage.setItem(keyToSet, JSON.stringify(setValue) );
    }
  }

  Vue.config.delimiters = ["[[", "]]"];
  new Vue({
    el: '#debateballots',
    data: {
      // Type
      showFeedback: getLocalStorage('showFeedback', false),
      // Strings to Fill In
      tournamentName: getLocalStorage('tournamentName', ""),
      returnLocation: getLocalStorage('returnLocation', ""),
      feedbackKeywords: getLocalStorage('feedbackKeywords', "inattentive, uncritical, not fair to all teams, not approachable, not constructive, not comprehensive"),
      // Rules
      hasReplies: getLocalStorage('hasReplies', false),
      speakersCount: getLocalStorage('speakersCount', 3),
      isBP: getLocalStorage('isBP', false),
      infoText: getLocalStorage('infoText' , "Speeches are x minutes, the speaker score range is from x to x. You have x minutes to form an adjudication."),
      hasMotionSelection: getLocalStorage('hasMotionSelection', false),
      // Formatting
      showFeedbackKeyWords: getLocalStorage('showFeedbackKeyWords', true),
      showTabRoomRow: getLocalStorage('showTabRoomRow', false),
      showInfoRow: getLocalStorage('showInfoRow', false),
      pageIsLandscape: getLocalStorage('pageIsLandscape', true),
      showPronouns: getLocalStorage('showPronouns', true),
      doubleUp: getLocalStorage('doubleUp', false),
    },
    computed: {
      feedbackKeywordsSplit: function () {
        return this.feedbackKeywords.split(',');
      }
    },
    watch: {
      // Type
      'showFeedback': function (val, oldVal) { setLocalStorage('showFeedback', val) },
      // Strings to Fill In
      'tournamentName': function (val, oldVal) { setLocalStorage('tournamentName', val) },
      'returnLocation': function (val, oldVal) { setLocalStorage('returnLocation', val) },
      // Rules
      'hasReplies': function (val, oldVal) { setLocalStorage('hasReplies', val) },
      'speakersCount': function (val, oldVal) { setLocalStorage('speakersCount', val) },
      'isBP': function (val, oldVal) { setLocalStorage('isBP', val) },
      'infoText': function (val, oldVal) { setLocalStorage('infoText' ,val) },
      'hasMotionSelection': function (val, oldVal) { setLocalStorage('hasMotionSelection', val) },
      // Formatting
      'showFeedbackKeyWords': function (val, oldVal) { setLocalStorage('showFeedbackKeyWords', val) },
      'showTabRoomRow': function (val, oldVal) { setLocalStorage('showTabRoomRow', val) },
      'showInfoRow': function (val, oldVal) { setLocalStorage('showInfoRow', val) },
      'pageIsLandscape': function (val, oldVal) { setLocalStorage('pageIsLandscape', val) },
      'showPronouns': function (val, oldVal) { setLocalStorage('showPronouns', val) },
      'doubleUp': function (val, oldVal) { setLocalStorage('doubleUp', val) },
    },
    methods: {
      setFeedbackFalse: function() {
        this.showFeedback = false;
        document.title = "debatingballot.com — Score Sheet for " + this.tournamentName;
        if(localStorage){
          localStorage.setItem( 'showFeedback', JSON.stringify(false) );
        }
      },
      setFeedbackTrue: function() {
        this.showFeedback = true;
        document.title = "debatingballot.com — Feedback Sheet for " + this.tournamentName;
        localStorage.setItem( 'showFeedback', JSON.stringify(true) );
      },
      setBPFalse: function() {
        this.isBP = false;
        this.speakersCount = 3;
      },
      setBPTrue: function() {
        this.isBP = true;
        this.speakersCount = 2;
      },
      setPortrait: function() {
        this.pageIsLandscape = false;
      },
      setLandscape: function() {
        this.pageIsLandscape = true;
      },
    }
  })
</script>
<script>
if (document.location.hostname.search("debatingballot.com") !== -1) {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-314178-27', 'auto');
  ga('send', 'pageview');
}
</script>
