
<header class="db-margins-m db-flex-row db-flex-item-fhm"><!-- Basics -->
  <div class="db-align-vertical-end db-flex-item-3">
    <h2>
      [[ tournamentName ]]
      <span v-if="showFeedback === true">Feedback</span>
      <span v-if="showFeedback === false">Scoresheet</span>
    </h2>
  </div>
  <div class="db-flex-item-fwxxl db-flex-row db-padding-horizontal">
    <div class="db-align-vertical-end db-flex-item db-flex-static db-vertical-center-text">
      <h2>Room:</h2>
    </div>
    <div class="db-flex-item db-fill-in">
    </div>
  </div>
  <div class="db-flex-item-fwxl db-flex-row db-padding-horizontal">
    <div class="db-align-vertical-end db-flex-item db-flex-static db-vertical-center-text">
      <h2>Round:</h2>
    </div>
    <div class="db-flex-item db-fill-in">
    </div>
  </div>
</header>
