<aside role="complementary" class="dbui-sidebar db-hide db-flex-column">

  <div class="db-flex-item db-align-vertical-center">

    <div class="dbui-sidebar-inner">

      <div class="form-block toggle-block db-flex-row">
        <button v-on:click="setFeedbackFalse" v-bind:class="{ 'active': showFeedback === false }" class="toggle-btn left">Score Sheet</button>
        <button v-on:click="setFeedbackTrue" v-bind:class="{ 'active': showFeedback === true }" class="toggle-btn right">Feedback Sheet</button>
        <input class="hidden" type="checkbox" id="showFeedbackCheck" v-model="showFeedback">
      </div>

      <div class="form-block toggle-block db-flex-row">
        <button v-on:click="setBPFalse" v-bind:class="{ 'active': isBP === false }" class="toggle-btn left">2 Teams</button>
        <button v-on:click="setBPTrue" v-bind:class="{ 'active': isBP === true }" class="toggle-btn right">4 Teams</button>
      </div>

      <div class="form-block toggle-block db-flex-row">

        <button v-on:click="setPortrait" v-bind:class="{ 'active': pageOrientation === 'portrait' }" class="toggle-btn left">A4 Portrait</button>
        <button v-on:click="setLandscape" v-bind:class="{ 'active': pageOrientation === 'landscape' }" class="toggle-btn right">A4 Landscape</button>

      </div>

      <div class="form-block db-flex-row">
        <input type="text" class="side-by-side" id="tournamentNameText" v-bind:class="{ 'placeholder': tournamentName === 'Tournament Name' }" v-model="tournamentName">
        <div class="divider"></div>
        <input type="text" class="side-by-side" id="returnLocationText" v-bind:class="{ 'placeholder': returnLocation === 'Tab Room Location' }" v-model="returnLocation">
      </div>

      <div class="form-block db-flex-row">
        <div class="db-flex-item-1">
          <input type="checkbox" id="doubleUpCheck" v-model="doubleUp">
          <label for="doubleUpCheck">Double-Up Pages</label>
        </div>
        <div class="divider"></div>
        <div class="db-flex-item-1">
          <input type="checkbox" id="showTabRoomRowCheck" v-model="showTabRoomRow">
          <label for="showTabRoomRowCheck">Show Tab Room Info</label>
        </div>
      </div>

      <template v-if="showFeedback === true">

      </template>

      <template v-if="showFeedback === false">

        <div class="form-block db-flex-row">

          <div class="db-flex-item-1">
            <input type="checkbox" id="hasRepliesCheck" v-model="hasReplies">
            <label for="hasRepliesCheck">Has Replies</label>
          </div>
          <div class="divider"></div>
          <div class="db-flex-item-1">
            <input type="checkbox" id="hasMotionsCheck" v-model="hasMotionSelection">
            <label for="hasMotionsCheck">Has Motion Options</label>
          </div>

        </div>

        <div class="form-block db-flex-row">

          <div class="db-flex-item-1">
            <input type="checkbox" id="showInfoCheck" v-model="showInfo">
            <label for="showInfoCheck">Show Rules Info</label>
          </div>
          <div class="divider"></div>
          <div class="db-flex-item-1">
            <input type="checkbox" id="showPronounsCheck" v-model="showPronouns">
            <label for="showPronounsCheck">Show Pronouns</label>
          </div>

        </div>

        <div class="form-block db-flex-row" v-if="showInfo">

          <textarea class="db-flex-item-1">[[ infoText ]]</textarea>

        </div>

      </template>

      <p><strong>How to Print</strong>: For best results, use Chrome or Safari.
      Use your browser's print function (<em>File > Print</em>) and set paper size/orientations
      as needed. Ensure "Margins" are set to <em>None</em>, and
      "Background Graphics" and <em>on</em></p>

      <p class="small">Created by <a target="_blank" href="http://philipbelesky.com/">Philip</a>.
      Feedback <a target="_blank" href="http://www.google.com/recaptcha/mailhide/d?k=01aItEbHtwnn1PzIPGGM9W8A==&c=XWljk2iGokfhziV2Rt4OiKA5uab1vCrnxwXcPUsWgnM=">
         welcome.</a>
      Based on <a target="_blank" href="https://github.com/czlee/tabbycat">Tabbycat's</a>
      pre-filled ballots feature.</p>

  </div>

</aside>
