<aside role="complementary" class="db-sidebar db-hide">
  <div class="db-margins-m">
    <h2>Ballot Configuration</h2>
    <hr>
    <input type="radio" id="two" value="2" v-model="teamsCount">
    <label for="two">Two Teams</label>
    <input type="radio" id="four" value="4" v-model="teamsCount">
    <label for="four">Four Teams</label>
    <hr>
    <input type="checkbox" id="hasRepliesCheck" v-model="hasReplies">
    <label for="hasRepliesCheck">Has Replies</label>
    <hr>
    <input type="text" id="tournamentNameText" v-model="tournamentName">
    <hr>
    <input type="text" id="returnLocationText" v-model="returnLocation">
    <hr>
    <input type="checkbox" id="showPronounsCheck" v-model="showPronouns">
    <label for="showPronounsCheck">Show Pronouns</label>
    <hr>
    <input type="radio" id="portraitOrientationRadio" value="portrait" v-model="pageOrientation">
    <label for="portraitOrientationRadio">portrait</label>
    <input type="radio" id="landscapeOrientationRadio" value="landscape" v-model="pageOrientation">
    <label for="landscapeOrientationRadio">landscape</label>
    <hr>
    <label for="lowestSpeakInput">Range Minimum</label>
    <input type="number" id="lowestSpeakInput" v-model="lowestSpeak">
    <hr>
    <label for="highestSpeakInput">Range Maximum</label>
    <input type="number" id="highestSpeakInput" v-model="highestSpeak">
    <hr>
    <h2>How to Print/Save</h2>
    <p>For best results, use Chrome or Safari. Use your browser's print function (CTRL-P), set paper sized and orientations appropriately along with:</p>
    <ul>
      <li>Margins: None</li>
      <li>Background graphics: ✅</li>
    </ul>
  </div>
</aside>
