<aside role="complementary" class="dbui-sidebar db-hide">

  <button v-on:click="setFeedbackFalse" v-bind:class="{ 'active': showFeedback === false }" class="toggle-btn left">Score Sheet</button>
  <button v-on:click="setFeedbackTrue" v-bind:class="{ 'active': showFeedback === true }" class="toggle-btn right">Feedback Sheet</button>
  <input class="hidden" type="checkbox" id="showFeedbackCheck" v-model="showFeedback">

  <button v-on:click="setBPFalse" v-bind:class="{ 'active': isBP === false }" class="toggle-btn left">Two Teams</button>
  <button v-on:click="setBPTrue" v-bind:class="{ 'active': isBP === true }" class="toggle-btn right">Four Teams</button>

  <input type="text" id="tournamentNameText" v-model="tournamentName">
  <input type="text" id="returnLocationText" v-model="returnLocation">

  <hr>
  <input type="radio" id="portraitOrientationRadio" value="portrait" v-model="pageOrientation">
  <label for="portraitOrientationRadio">portrait</label>
  <input type="radio" id="landscapeOrientationRadio" value="landscape" v-model="pageOrientation">
  <label for="landscapeOrientationRadio">landscape</label>
  <hr>
  <input type="checkbox" id="doubleUpCheck" v-model="doubleUp">
  <label for="doubleUpCheck">Double Up</label>
  <hr>
  <input type="checkbox" id="showTabRoomRowCheck" v-model="showTabRoomRow">
  <label for="showTabRoomRowCheck">Show Tab Room Row</label>
  <hr>


  <template v-if="showFeedback === true">

  </template>
  <template v-if="showFeedback === false">
    <input type="checkbox" id="hasRepliesCheck" v-model="hasReplies">
    <label for="hasRepliesCheck">Has Replies</label>
    <hr>
    <input type="checkbox" id="showPronounsCheck" v-model="showPronouns">
    <label for="showPronounsCheck">Show Pronouns</label>
    <hr>
    <label for="lowestSpeakInput">Range Minimum</label>
    <input type="number" id="lowestSpeakInput" v-model="lowestSpeak">
    <hr>
    <label for="highestSpeakInput">Range Maximum</label>
    <input type="number" id="highestSpeakInput" v-model="highestSpeak">
  </template>

  <h2>How to Print/Save</h2>
  <p>For best results, use Chrome or Safari. Use your browser's print function (CTRL-P), set paper sized and orientations appropriately along with:</p>
  <ul>
    <li>Margins: None</li>
    <li>Background graphics: ✅</li>
  </ul>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Sidebar Ad -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-4127280252237686"
       data-ad-slot="3424227058"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <span>Created by Philip (link to site). Based upon Tabbycat's pre-filled printing functions — check it out for tabbing your next two-team debating tournament.

</aside>
