// AESTHETICS
body {

}
.db-page {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}
.db-fill-in {
  border-bottom: 3px solid $fill-in-color;
}
.db-bordered {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.db-dont-fill-in {
  background: $dont-fill-in-bg;
}
