body {

}
.dbui-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh; // Prevent it blowing out the height
}
.dbui-sidebar {
  flex: 0 0 250px;
  padding: 25px;
  border-right: 1px solid red;
}
.dbui-preview {
  max-height: 100vh; // Prevent it blowing out the height
  flex: 1;
  overflow: hidden; // Needed to stop horizontal blow outs
  display: flex;
  align-items: center;
  justify-content: center;
}
