body {
}
.dbui-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh; // Prevent it blowing out the height
}
.dbui-sidebar {
  flex: 0 0 300px;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(239, 240, 242);
}
.dbui-preview {
  max-height: 100vh; // Prevent it blowing out the height
  flex: 1;
  overflow: hidden; // Needed to stop horizontal blow outs
  display: flex;
  align-items: center;
  justify-content: center;
}
