body {
}
.dbui-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh; // Prevent it blowing out the height
}
.dbui-sidebar {
  flex: 0 0 350px;
  font-size: 14px;
  overflow: hidden;
  
  p.small {
    line-height: 15px;
    font-size: 12px;
    margin: 0;
  }

  .dbui-sidebar-inner {
    margin: 15px;
    padding: 10px;
    background-color: rgb(239, 240, 242);
    border-radius: 5px;
  }

}
.dbui-preview {
  max-height: 100vh; // Prevent it blowing out the height
  flex: 1;
  overflow: hidden; // Needed to stop horizontal blow outs
  display: flex;
  align-items: center;
  justify-content: center;
}
