$lato-font-path: '../bower_components/lato/font';

@import "../bower_components/lato/scss/lato";

body {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}
.db-page-double {
  font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: 900;
  font-style: normal;
}
.db-right-text {
  text-align: right;
  justify-content: flex-end;
}
.db-center-text {
  text-align: center;
}
