<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>debatingballot.com — printable ballots, score sheets, and feedback forms for debating tournaments</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/png" href="/favicon.png">

</head>

<body id="debateballots">

	<div class="dbui-wrapper">

	  {% include sidebar.html %}

		<div class="dbui-preview">
			<div class="db-page-holder">
			  <main role="main" class="db-page" v-bind:class="{
					'db-page-double': doubleUp,
					'db-page-single': !doubleUp,
					'db-page-landscape': pageIsLandscape,
					'db-page-portrait': !pageIsLandscape,
				}">
					<template v-if="showFeedback">
						{% include feedback-preview.html %}
						<template v-if="doubleUp">{% include feedback-preview.html %}</template>
					</template>
					<template v-if="!showFeedback">
						{% include ballot-preview.html %}<template v-if="doubleUp">{% include ballot-preview.html %}
						</template>
					</template>
				</main>
			</div>
		</div>

	</div>
  {% include javascript.html %}

</body>
</html>
