<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>debatingballot.com — printable ballots, score sheets, and feedback forms for debating tournaments</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body id="debateballots">

	<div class="dbui-wrapper">

	  {% include sidebar.html %}

		<div class="dbui-preview">
			<div class="db-page-holder">
			  <main role="main" class="db-page" v-bind:class="pageOrientationClass">
					<template v-if="showFeedback === true">
						{% include feedback-preview.html %}
					</template>
					<template v-if="showFeedback === false">
						{% include ballot-preview.html %}
					</template>
				</main>
			</div>
		</div>

	</div>
  {% include javascript.html %}

</body>
</html>
